@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
}

body {
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  background: #1f6f78;
}

.container {
  max-width: 100vw;
  height: 100vh;
}

h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3rem;
  letter-spacing: 2px;
  padding: 20px 20px;
  text-align: center;
  border-bottom: 1px solid #ffffffd3;
}

h4 {
  text-transform: capitalize;
  color: #ffffffd3;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

/* .nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  flex-wrap: wrap;
} */

.nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 40px;
}

.nav a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #ffffffd3;
  padding: 8px;
}

.nav a::before {
  content: "";
  width: 100%;
  height: 85%;
  position: absolute;
  top: 5%;
  left: 0%;
  box-sizing: border-box;
  border-top: 1px solid #3baea0;
  border-left: 1px solid #3baea0;
  transition: all 5s;
}

.nav a::after {
  content: "";
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 5%;
  right: 0%;
  box-sizing: border-box;
  border-bottom: 1px solid #118a7e;
  border-right: 1px solid #118a7e;
  transition: all 5s;
}

.nav a:hover {
  text-shadow: 1px 1px 2px whitesmoke;
}

.nav a:hover::after,
.nav a:hover::before {
  content: "";
  width: 30%;
  height: 35%;
  transform: rotate(360deg);
}
